body{
    background-image: url("images/witcher.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.navbar{
    padding: 15px;
}
.navbar a{
    float: right;
    color: white;
    text-decoration: none;
}

.column p{
    font-size:14px;
}

.column{
    color: white;
    width: 400px;
    padding-top: 150px;
}

.first{
    font-size: 12px;
    text-transform: uppercase;
}

.second{
    text-transform: uppercase;
    font-size: 50px;
}

.button{
    padding: 15px;
    margin-top: 30px;
}